#wrapper {
  position: absolute;
  top: 100px;
  width: 100%;
  height: calc(100vh - 70px);
}

.search-bar {
  height: 29px;
  background: #f1f1f1;
  border-bottom: 1px solid $lightGray;
}

.search-field-area {
  position: absolute;
  top: 4px;
  right: 4px;
}

.search-field-area input {
  padding: 2px;
  @include bdr-three;
  border: 1px solid $lightGray;
  font-weight: 100;
  font-size: 0.75em;
}

.search-field-area button {
  position: absolute;
  background: transparent;
  border: 0;
  right: 15px;
  top: 0;
}

.tabs {
  position: absolute;
  background: #fff;
}

.tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  padding: 8px;
  font-size: 0.75em;
  color: #353535;
  border-right: 1px solid $lightGray;
}

.alert-bar {
  position: relative;
  width: 85vw;
  background: $lighterPurple;
  @include bdr-three;
  margin: 0 auto;
  @include b-shadow;
}

.alert-bar-message p {
  padding: 9px 0 7px;
  @include smallerFonts;
}

.alert-bar span {
  font-weight: bold;
  margin: 0 10px 0 20px;
}

.alert-bar-close {
  position: absolute;
  right: 20px;
  top: 7px;
}

.alert-bar-close p {
  margin: 0;
}

.alert-bar-close p:hover {
  cursor: pointer;
}

.network-data {
  max-width: calc(100% - 10px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.data-item {
  // display: inline !important;
}

// canvas#mobile-users {
//   float: right;
// }

#daily-traffic {
  margin-left: -5px;
}

[class^="col-"] {
  float: left;
  padding: 0 1rem;
}

.col-1 {
  width: calc(100% / 6) !important;
  height: auto !important;
}
.col-2 {
  width: calc(100% / 6 * 6) !important;
}

.col-3 {
  width: calc(100% / 6 * 6) !important;
}

.col-4 {
  width: calc(100% / 6 * 6) !important;
}

.col-5 {
  width: calc(100% / 6 * 5) !important;
}

.col-6 {
  width: calc(100% / 6 * 6) !important;
}

.users-list p,
.activity-list p {
  margin: 21px 0 21px 10px;
  color: $darkGray;
}

.users-and-activity-lists {
  position: relative;
  display: inline-flex;
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid #e3e3e3;
}

.users-and-activity-lists ul {
  list-style: none;
  padding-right: 5%;
}

.users-and-activity-lists li {
  position: relative;
  margin-bottom: 21px;
}


.users-and-activity-lists ul li {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 21px;
}

.users-list {
  border-right: 1px solid #e3e3e3;
}

.user-profile-img {
  position: absolute;
  margin-top: -4px;
}

.user-info {
    /* position: relative; */
  margin-left: 46px;
}

.user-info p {
  margin: 0;
}

.registration-date,
.right-arrow {
  position: absolute;
  right: 0;
  top: 3px;
}

.registration-date p {
  font-size: 0.75em;
  color: $lightGray;
}

span.registration-name,
span.last-activity {
  margin-bottom: 0;
  font-size: 0.8em;
}

span.last-activity {
  font-style: italic;
}

.users-and-activity-lists a {
  text-decoration: none;
  font-size: 0.7em;
}

.users-and-activity-lists a:hover {
  cursor: pointer;
}

.users-list,
.activity-list {
}

.right-arrow svg {
  height: 20px;
  width: auto;
}

.right-arrow svg:hover {
  cursor: pointer;
}

@include mobile-landscape {
  #wrapper {
    top: 70px;
    width: calc(100vw - 70px);
    right: 0;
  }

  .search-bar {
    height: 44px;
  }

  .search-field-area {
    top: 8px;
    right: 15px;
  }

  .search-field-area input {
    padding: 4px;
    font-weight: 100;
    font-size: 1em;
  }

  .tabs li {
    padding: 13px;
    font-size: 1em;
  }

  .network-data {
    display: inline-flex;
  }

  .col-2 {
    width: calc(100% / 6 * 2) !important;
  }

  .col-4 {
    width: calc(100% / 6 * 4) !important;
  }
}
