#wrapper {
  position: absolute;
  top: 100px;
  width: 100%;
  min-height: calc(100vh);
  z-index: 0;
}

.search-bar {
  height: 29px;
  background: #f1f1f1;
  border-bottom: 1px solid $lightGray;
}

.search-field-area {
  position: absolute;
  top: 4px;
  right: 24px;
}

.search-field-area input {
  padding: 2px;
  @include bdr-three;
  border: 1px solid $lightGray;
  font-weight: 100;
  font-size: 0.75em;
}

.search-field-area button {
  position: absolute;
  background: $lighterPurple;
  border: 1px solid $darkerPurple;
  border-radius: 3px;
  right: -18px;
  top: 1px;
  height: 19px;
  width: 19px;
  padding: 0px;
}

.search-field-area button img {
  position: relative;
  height: 12px;
  width: 12px;
  top: 1px;
  margin-left: 0px;
}

.tabs {
  position: absolute;
  background: #fff;
}

.tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  padding: 8px;
  font-size: 0.75em;
  color: #353535;
  border-right: 1px solid $lightGray;
}

.alert-bar {
  position: relative;
  width: 85vw;
  background: $lighterPurple;
  @include bdr-three;
  margin: 0 auto;
  @include b-shadow;
}

.alert-bar-message p {
  padding: 9px 0 7px;
  @include smallerFonts;
}

.alert-bar span {
  font-weight: bold;
  margin: 0 10px 0 20px;
}

.alert-bar-close {
  position: absolute;
  right: 20px;
  top: 7px;
}

.alert-bar-close p {
  margin: 0;
}

.alert-bar-close p:hover {
  cursor: pointer;
}

.network-data {
  max-width: calc(100% - 10px);
  margin: 0 auto;
  display: block;
}

.data-item {
  // display: inline !important;
}

// canvas#mobile-users {
//   float: right;
// }

#daily-traffic {
  margin-left: -5px;
}

[class^="col-"] {
  float: left;
  padding: 0 1rem;
}

.col-1 {
  width: calc(100% / 6) !important;
  height: auto !important;
}
.col-2 {
  width: calc(100% / 6 * 6) !important;
}

.col-3 {
  width: calc(100% / 6 * 6) !important;
}

.col-4 {
  width: calc(100% / 6 * 6) !important;
}

.col-5 {
  width: calc(100% / 6 * 5) !important;
}

.col-6 {
  width: calc(100% / 6 * 6) !important;
}

.users-list p,
.activity-list p {
  margin: 21px 0 21px 10px;
  color: $darkGray;
}

.users-and-activity-lists {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.users-and-activity-lists ul {
  list-style: none;
  padding-right: 5%;
  padding-left: 0;
}

.users-and-activity-lists li {
  position: relative;
  margin-bottom: 21px;
}


.users-and-activity-lists ul li {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 21px;
}

.users-and-activity-lists ul li:last-of-type {
    border: 0;
}

.users-list,
.message-form {
  border-right: 0px;
  padding-left: 0px;
}

.user-profile-img {
  position: absolute;
  margin-top: -4px;
}

.user-info {
    /* position: relative; */
  margin-left: 46px;
}

.user-info p {
  margin: 0;
}

.registration-date,
.right-arrow {
  position: absolute;
  right: 0;
  top: 3px;
}

.registration-date p {
  font-size: 0.75em;
  color: $lightGray;
}

span.registration-name,
span.activity-user,
span.last-activity {
  margin-bottom: 0;
  font-size: 0.8em;
}

span.last-activity {
  font-style: italic;
}

.users-and-activity-lists a {
  text-decoration: none;
  font-size: 0.7em;
}

.users-and-activity-lists a:hover {
  cursor: pointer;
}

.activity-list {
  padding-left: 0px;
}

.users-list,
.activity-list {
}

.right-arrow svg {
  position: relative;
  height: 20px;
  width: auto;
  right: -16px;
}

.right-arrow svg:hover {
  cursor: pointer;
}

.messages-and-settings {
  width: 100%;
  padding-bottom: 60px;
  display: inline-flex;
  flex-wrap: wrap;
}

select#timezone {
  width: 100%;
  height: 36px;
  margin-top: 25px;
  margin-bottom: 19px;
}

button#send,
button#save,
button#cancel {
  height: 40px;
  padding: 4px 0 0;
  border: 0;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

button#send,
button#save {
  background: #7477bf;
}

button#save,
button#cancel {
  width: 45%;
}

button#send {
  width: 100%;
}

.save-and-cancel {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.alert-messages {
  position: absolute;
  display: block;
  top: 70px;
  right: 145px;
  font-size: 0.7em;
}

.alert-messages p,
.alert-messages h4 {
  color: #fff;
}

.alert-messages h4 {
  margin: 0px;
}

.search-suggestions {
  position: absolute;
  margin-top: 102px;
}

.search-suggestions-framing,
.alert-messages {
  border: 1px solid $midGray;
  border-radius: 5px;
}

.search-suggestions-framing {
  background: #f1f2f9;
}

.alert-messages {
  background: $lighterPurple;
}

.search-suggestions ul,
.alert-messages ul {
  list-style: none;
  padding: 0px;
}

.search-suggestions p {
  padding: 7px 15px;
  color: $midGray;
  transition: 0.3s;
  cursor: pointer;
}

.search-suggestions ul,
.search-suggestions p,
.alert-messages ul,
.alert-messages p {
  margin: 0px;
}

.alert-messages li {
  padding: 10px;
  border-bottom: 1px solid #a1a1a1;
  transition: 0.3s;
  color: #fff;
}

.alert-messages li:last-child {
  border-bottom: 0px;
}

.alert-messages li:hover {
  background: $darkerPurple;
  color: #fff;
  transition: 0.5s;
}

.search-suggestions p:hover {
  background: $lighterPurple;
  color: #fff;
  transition: 0.5s;
}

.alert-messages-off {
  display: none;
}

.social-stats {
  padding: 20px 0;
  width: 100%;
}

.social-stats p {
  font-size: 0.9em;
  margin: 0;
}

.social-stats h3 {
  margin: 0;
  font-size: 2em;
  color: #fff;
}

.social-stats p,
.social-stats h3 {
  font-weight: 100;
}

.social-stats,
#twitter,
#facebook,
#google-plus,
#linkedin,
#instagram {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-stats img {
  height: 28px;
}

#twitter,
#facebook,
#google-plus,
#linkedin,
#instagram {
  position: relative;
  flex: 1 240px;
  margin: 10px;
  padding: 10px;
  background: rgba(77,79,127,0.6);
  border-radius: 5px;
  border: 2px solid rgba(77,79,127,1);
  transition: 0.5s;
}

#twitter:hover,
#facebook:hover,
#google-plus:hover,
#linkedin:hover,
#instagram:hover {
  background: rgba(77,79,127,0.8);
  transition: 0.7s;
}

#twitter img,
#facebook img,
#google-plus img,
#linkedin img,
#instagram img {
  align-self: center;
}

#twitter,
#facebook,
#google-plus,
#linkedin,
#instagram,
button#send,
button#save,
button#cancel,
input,
textarea {
  border-radius: 5px;
}

.social-icon-background  {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(77,79,127,1);
  padding: 0px;
  height: 50px;
  width: 50px;
}

input, textarea, select {
  border: 1px solid #e3e3e3;
  background: rgba(116, 119, 191, 0.1);
}

.message-form,
.settings {
  padding: 22px;
  border-bottom: 1px solid #d9d9d9;
}

input, textarea {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

textarea {
  height: 110px;
}

select {
  margin-bottom: 15px;
}

@include mobile-landscape {
  #wrapper {
    top: 70px;
    width: calc(100vw - 70px);
    right: 0;
  }

  .search-bar {
    height: 44px;
  }

  .search-field-area {
    top: 8px;
    right: 45px;
  }

  .search-field-area input {
    padding: 4px;
    font-weight: 100;
    font-size: 1em;
  }

  .search-field-area button {
    right: -27px;
    height: 28px;
    width: 28px;
    padding: 0px;
  }

  .search-field-area button img {
    height: 16px;
    width: 16px;
    top: 2px;
    margin-left: 0px;
  }

  .tabs li {
    padding: 13px;
    font-size: 1em;
  }

  #daily-traffic {
    border-right: 2px solid $lightGray;
  }
  //
  // .network-data {
  //   display: inline-flex;
  // }

  .network-data,
  .data-item {
    border-bottom: 2px solid $lightGray;
  }


  #twitter, #facebook, #google-plus, #linkedin, #instagram {
    flex: 1 287px;
  }


}

//iOS switch tweak, hourly, daily, monthly, yearly
.switch-ios.switch-toggle {
  width: 100%;
  font-size: 0.65em;
  background-color: transparent;
  box-shadow: inset transparent 0 0px 0;
  position: relative;
  margin: 20px auto;
}

.switch-ios input:checked + label {
    color: #fff;
}

.switch-toggle.switch-ios label,
.switch-toggle.switch-ios input,
.switch-toggle.switch-ios label:focus,
.switch-toggle.switch-ios input:focus,
.switch-toggle.switch-ios label:active,
.switch-toggle.switch-ios input:active {
    outline: none;
    border: none;
}

.switch-toggle.switch-ios label:hover,
.switch-ios.switch-light input:hover {
  cursor: pointer;
}

//iOS switch tweak, on and off switches
.switch-ios.switch-light input:checked ~ span {
  border-color: #7477bf;
  box-shadow: inset 0 0 0 30px #7477bf;
}

.switch-ios.switch-light input:checked ~ span a {
  border-color: #4d4f7f;
}

.switch-ios.switch-light > span {
  width: 60px;
}

.switch-ios.switch-light > span span:first-of-type {
  width: 80px;
}

label.switch-light.switch-ios {
  display: inline-flex;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 18px;
}

label.switch-light.switch-ios strong {
  width: 180px;
  font-size: 0.85em;
  padding: 5px 0px;
}

label.switch-light.switch-ios span:first-of-type {
  font-size: 0.85em;
  padding: 4px 0;
  color: #fff;
}

@include tablets {
  .search-field-area button {
    top: 0px;
  }
  .network-data {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .col-2 {
    width: calc(100% / 6 * 2) !important;
  }

  .col-4 {
    width: calc(100% / 6 * 4) !important;
  }

  #twitter,
  #facebook,
  #google-plus,
  #linkedin,
  #instagram {
    flex: 1 240px;
    margin: 30px;
    padding: 10px;
  }

  .switch-ios.switch-toggle {
    width: 50%;
    right: 0;
    font-size: 0.85em;
    float: right;
    margin: 20px 0;
  }

  .users-and-activity-lists {
    flex-wrap: nowrap;
  }

  .activity-list {
    padding-left: 10px;
  }

  .users-list,
  .message-form {
    border-right: 1px solid #e3e3e3;
    padding-left: 10px;
  }

  .right-arrow svg {
    right: 0px;
  }

  .messages-and-settings {
    flex-wrap: nowrap;
  }

  .message-form,
  .settings {
    padding: 22px;
    border-bottom: 0px;
  }
}
