#sidebar {
  position: absolute;
  top: 60px;
  left: 0;
  height: 40px;
  width: 100%;
  background: $darkerPurple;
  z-index: 1;
}

.sidebar-content {
  position: relative;
  text-align: center;
  top: -8px;
}

.sidebar-content svg {
  position: relative;
  top: 2px;
  width: 20px;
}

.st0 {
  fill: $lightGray !important;
}

.st1 {
  fill: #fff !important;
}

.st0:active,
.st0:hover {
  fill: #fff !important;
}

.sidebar-content ul {
  padding: 0;
  list-style: none;
}

.sidebar-content li {
  display: inline-block;
  padding-bottom: 5px;
  margin: 0 7px;
}

.sidebar-content li:first-of-type {
  border-bottom: 3px solid #85DB9D;
  // border-right: 3px transparent;
  // border-top: 3px transparent;
  // border-bottom: 3px transparent;
  // border-style: ridge;
}

@include mobile-landscape {
  #sidebar {
    top: 0;
    height: 100%;
    width: 70px;
  }

  .sidebar-content {
    top: 73px;
  }

  .sidebar-content li {
    display: block;
    padding: 10px 0;
    margin: 0;
  }

  .sidebar-content svg {
    width: 25px;
  }

  .sidebar-content li:first-of-type {
    border-left: 3px ridge #85DB9D;
    border-bottom: 0;
  }
}
