#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  background: $darkerPurple;
  z-index: 1;
}

.sidebar-content {
  position: relative;
  text-align: center;
  top: 73px;
}

.sidebar-content svg {
  position: relative;
  top: 2px;
  width: 25px;
}

.st0 {
  fill: $lightGray !important;
}

.st0:active,
.st0:hover {
  fill: #fff !important;
}

.sidebar-content ul {
  padding: 0;
  list-style: none;
}

.sidebar-content li {
  margin-bottom: 10px;
  padding: 10px 0;
}

.sidebar-content li:first-of-type {
  border-left: 3px ridge #85DB9D;
  // border-right: 3px transparent;
  // border-top: 3px transparent;
  // border-bottom: 3px transparent;
  // border-style: ridge;
}
