#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  background: $darkerPurple;
  z-index: 1;
}

.sidebar-content {
  position: relative;
  text-align: center;
  top: 73px;
}

.sidebar-content img {
  position: relative;
  top: 2px;
  width: 25px;
}

.sidebar-content ul {
  padding: 0;
  list-style: none;
}

.sidebar-content li {
  margin-bottom: 25px;
}

.sidebar-content li:hover,
.sidebar-content li:visited {
  border-left: 3px #85DB9D;
  border-right: 3px transparent;
  border-top: 3px transparent;
  border-bottom: 3px transparent;
  border-style: ridge;
}
