#topnav {
  position: absolute;
  top: 0;
  left:  0;
  height: 70px;
  width: 100%;
  background: $lighterPurple;
  z-index: 2;
}

.logo,
.user-login {
  position: absolute;
  color: #fff;
}

.logo {
  left: 15px;
  height: 40px;
  top: 12px;
}

.user-login {
  display: inline-flex;
  justify-content: center;
  right: 15px;
  top: 16px;
}

.user-login img {
  height: 26px;
  width: auto;
  margin-right: 12px;
}

.bell img {
  margin-right: 0;
}

.login-flex-item {
  align-self: center;
}

.login-flex-item p {
  @include smallerFonts;
}

.alert {
  position: relative;
}

.alert img {
  padding: 0px 10px 0px;
}

.new-alert {
  position: absolute;
  top: 0px;
  right: 8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: $alertGreen;
}

.profile {
  border-left: 1px solid;
  padding-left: 10px;
}

.profile img {
  border-radius: 50%;
  height: 40px;
  width: auto;
}
