* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

p {
  color: #fff;
}

h1, h2, h3, h4 {
  color: $midGray;
}

// Transition, in and out.
.st0:hover {
  transition: 0.7s;
}

.st0 {
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
}
