// Special font styling
@mixin smallerFonts {
  font-size: 0.85em;
  font-weight: 100;
}

// Borders and Boxshadows
@mixin bdr-three {
  border-radius: 3px;
}

@mixin b-shadow {
  box-shadow: 2px 2px 4px #555;
}

// Medis queries mixins
@mixin mobile-landscape-nrw {
  @media screen and (min-width: $brk-mobile-landscape-nrw) {
    @content;
  }
}

@mixin mobile-landscape {
  @media screen and (min-width: $brk-mobile-landscape) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $brk-tablets) {
    @content;
  }
}

@mixin displays {
  @media screen and (min-width: $brk-displays){
    @content;
  }
}
