// Medis queries variables
$brk-mobile-landscape-nrw : 480px;
$brk-mobile-landscape     : 640px;
$brk-tablets              : 768px;
$brk-displays             : 1024px;

// Color Palette
$lighterPurple  : #7477BF;
$darkerPurple   : #4D4F7F;
$darkerFont     : #666666;
$alertGreen     : #85DB81;
$lightGray      : #d0d0d0;
$midGray        : #555555;
$darkGray       : #333333;
