// Medis queries variables
$brk-mobile-landscape-nrw : 480px;
$brk-mobile-landscape     : 640px;
$brk-tablets              : 768px;
$brk-displays             : 1024px;

// Color Palette
$lighterPurple  : #7477BF;
$darkerPurple   : #4D4C72;
$darkerFont     : #666666;
$alertGreen     : #85DB81;
